body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* BG Image Source: http://cdn.morguefile.com/imageData/public/files/e/Eamir/04/h/1459985227toasf.jpg */
  background: url('/img/bg.jpg') fixed;
  background-size: cover;
}
#application {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
#application .pride-flag {
  width: 20px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 2px;
}
@media (max-width: 1000px) {
  .github-fork-link {
    display: none;
  }
}
#header {
  color: white;
  background-color: #074099;
  border-radius: 5px;
  padding: 1px 10px 0 10px;
}
input#isbn {
  width: 774px;
  font-size: 24px;
  padding: 10px;
  border: 3px solid #074099;
  border-radius: 5px;
  margin: 0 -10px;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
a {
  color: #00B7FF;
}
kbd,
.key {
  text-transform: capitalize;
}
.clear {
  clear: both;
}
.addedIsbn {
  border: 0px solid #074099;
  border-radius: 10px;
  /*background: #074099;*/
  clear: both;
  padding: 0px;
  margin: 10px 0px;
  position: relative;
  overflow: hidden;
}
.addedIsbn .addresult {
  text-align: center;
  background: #333 none repeat scroll 0 0;
  border-radius: 10px;
  bottom: 2px;
  color: #a1a1a1;
  display: none;
  padding: 2px 7px;
  position: absolute;
  right: 2px;
}
.addedIsbn .addresult span,
.addedIsbn .addresult a {
  color: white;
  display: inline;
  padding: 0;
}
.addedIsbn .addresult a:hover,
.addedIsbn .addresult a:active {
  color: #a1a1a1;
}
.addedIsbn img {
  width: 100px;
  float: left;
  opacity: 0;
  padding: 0px 10px 0px 0px;
}
.addedIsbn span {
  display: block;
  padding: 5px;
}
.addedIsbn .sources {
  position: absolute;
  bottom: 5px;
  left: 110px;
  height: 30px;
}
.addedIsbn .sources .source {
  display: inline-block;
}
.addedIsbn .sources .source.goodreads {
  background: url('/img/goodreads_logo.png') no-repeat;
  background-size: cover;
  width: 106.5px;
  height: 30px;
  border-radius: 10px;
  opacity: 0.5;
}
.addedIsbn .srcclear {
  height: 30px;
}
.addedIsbn.searching {
  text-align: center;
  vertical-align: middle;
}
.addedIsbn.searching > :not(.spinner) {
  display: none;
}
.addedIsbn:not(.searching) .spinner {
  display: none;
}
.addedIsbn.notFound {
  color: #a1a1a1;
  font-size: 20px;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
}
.addedIsbn.notFound .isbn {
  color: white;
  display: inline;
}
.addedIsbn:nth-last-child(1n+0) {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.addedIsbn:nth-last-child(2n+0) {
  background-color: #3498db;
  border-color: #3498db;
}
.addedIsbn:nth-last-child(3n+0) {
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.addedIsbn:nth-last-child(4n+0) {
  background-color: #f39c12;
  border-color: #f39c12;
}
.addedIsbn:nth-last-child(5n+0) {
  background-color: #c0392b;
  border-color: #c0392b;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.button {
  border: 1px solid black;
  border-radius: 6px;
  font-weight: bold;
  padding: 3px 20px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}
.button-blue {
  border-color: #074099;
  background-color: #074099;
  color: white;
}
.button-green {
  border-color: #219452;
  background-color: #2ecc71;
  color: white;
}
.button-green:hover {
  background-color: #219452;
}
.button-red {
  border-color: maroon;
  background-color: maroon;
  color: white;
}
.button-orange {
  background-color: #FF6239;
  border-color: #FF3F0D;
  color: white;
}
.button-orange {
  background-color: #FF3F0D;
}
.button.donate {
  font-size: 15px;
  padding: 10px 50px;
}
.prompt {
  z-index: 1000;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  width: 774px;
  background-color: #2ecc71;
  border: 3px solid #219452;
  border-radius: 10px;
  padding: 0px 10px;
  display: none;
  color: #ffffff;
}
#prompt-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(89, 89, 89, 0.6);
}
.donation-prompt .share-buttons {
  text-align: center;
}
.donation-prompt .share-buttons input.button {
  display: inline-block;
}
.app-welcome-prompt .get-started label,
.app-welcome-prompt .get-started input {
  display: inline-block;
}
#poweredBy {
  text-align: right;
}
#poweredBy a {
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 10px;
  margin: 2px;
  padding: 2px 6px;
  text-align: right;
  text-decoration: none;
  background-color: #333333;
}
#header.introheader {
  padding: 1px 10px;
}
#header.introheader .introbutton {
  text-align: center;
}
#header.introheader .introbutton a {
  background-color: #2ecc71;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 2.2em;
  line-height: 48px;
  margin: 0;
  padding: 12px;
  text-decoration: none;
}
#header.introheader .introbutton a:hover {
  background-color: #3498db;
}
.isbn-helper {
  margin: 21px auto;
  max-width: 640px;
  color: white;
  padding: 0 0 0 10px;
  position: absolute !important;
  left: 80px;
  z-index: 2;
}
.isbn-helper .example-isbn {
  float: right;
  padding: 0;
  max-width: 30%;
}
.isbn-helper .example-isbn img {
  max-width: 100%;
  padding: 18px 0 0;
}
.isbn-helper .barcode-scanner {
  font-size: 10px;
}
.isbn-helper .barcode-scanner a {
  color: #333333;
  font-weight: bold;
}
.twitter-share-button {
  vertical-align: middle;
}
.arrow_box {
  position: relative;
  background: #2ecc71;
  border: 4px solid #219452;
  border-radius: 5px;
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(33, 148, 82, 0);
  border-bottom-color: #219452;
  border-width: 36px;
  margin-left: -36px;
}
.spinner {
  margin: 30px auto 21px auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/**
 * KEYS.css
 *
 * A simple stylesheet for rendering beautiful keyboard-style elements.
 *
 * Author:  Michael Hüneburg
 * Website: http://michaelhue.com/keyscss
 * License: MIT License (see LICENSE.txt)
 */
/* Base style, essential for every key. */
kbd,
.key {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal 0.85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
kbd[title],
.key[title] {
  cursor: help;
}
/* Light style for display on dark background. */
kbd,
kbd.light,
.light-keys kbd,
.key.light,
.light-keys .key {
  background: #fafafa;
  background: -moz-linear-gradient(top, #d2d2d2, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#ffffff));
  color: #323232;
  text-shadow: 0 0 2px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0 0 1px #ffffff, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 1px #ffffff, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
}
/* Sharing buttons from: https://simplesharingbuttons.com/ */
ul.share-buttons {
  list-style: none;
  padding: 0;
}
ul.share-buttons li {
  display: inline;
}
ul.share-buttons img {
  width: 32px;
}
