@bgopacity: 1;
@coverbg: rgba(89, 89, 89, 0.6);
@headerbgcolor: #074099;
@headerpadding: 10px;

@sourcesHeight: 30px;

@appwidth: 800px;

@prompt-z-index: 1000;
@prompt-border: 10px;
@prompt-border-color: black;
@prompt-bg-color: rgba(155, 89, 182, 1);
@prompt-border-radius: 30px;
@prompt-padding-top: 0px;
@prompt-padding-left: 10px;

@spinner-color: white;
@spin-box-height: 60px;
@spinner-height: 18px;

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/* BG Image Source: http://cdn.morguefile.com/imageData/public/files/e/Eamir/04/h/1459985227toasf.jpg */
	background: url('/img/bg.jpg') fixed;
	background-size: cover;
}

#application {
	width: @appwidth;
	margin: 0 auto;
}

#header {
	color: white;
	background-color: @headerbgcolor;
	border-radius: 5px;
	padding: 1px @headerpadding 0 @headerpadding;
}

input#isbn {
	width: 774px;
	font-size: 24px;
	padding: 10px;
	border: 3px solid @headerbgcolor;
	border-radius: 5px;
	margin: 0 -@headerpadding;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a {
	color: #00B7FF;
}

.clear {
	clear: both;
}

.addedIsbn {
	border: 0px solid #074099;
	border-radius: 10px;
	/*background: #074099;*/
	clear: both;
	padding: 0px;
	margin: 10px 0px;
	position: relative;
	overflow: hidden;
}

.addedIsbn img {
	width: 100px;
	float: left;
	opacity: 0;
	padding: 0px 10px 0px 0px;
}

.addedIsbn span {
	display: block;
	padding: 5px;
}

.addedIsbn.searching {
	text-align: center;
	vertical-align: middle;
	// min-height: 60px;
}

.addedIsbn .sources {
	position: absolute;
	bottom: 5px;
	left: 110px;
	height: @sourcesHeight;
}

.addedIsbn .srcclear {
	height: @sourcesHeight;
}

.addedIsbn .sources .source {
	display: inline-block;
}

.addedIsbn .sources .source.goodreads {
	background: url('/img/goodreads_logo.png') no-repeat;
	background-size: cover;
	width: 106.5px;
	height: @sourcesHeight;
	border-radius: 10px;
	opacity: 0.5;
}

.addedIsbn:nth-last-child(1n+0) {
	background-color: rgba(46, 204, 113, @bgopacity);
	border-color: rgba(46, 204, 113, @bgopacity);
}

.addedIsbn:nth-last-child(2n+0) {
	background-color: rgba(52, 152, 219, @bgopacity);
	border-color: rgba(52, 152, 219, @bgopacity);
}

.addedIsbn:nth-last-child(3n+0) {
	background-color: rgba(155, 89, 182, @bgopacity);
	border-color: rgba(155, 89, 182, @bgopacity);
}

.addedIsbn:nth-last-child(4n+0) {
	background-color: rgba(243, 156, 18, @bgopacity);
	border-color: rgba(243, 156, 18, @bgopacity);
}

.addedIsbn:nth-last-child(5n+0) {
	background-color: rgba(192, 57, 43, @bgopacity);
	border-color: rgba(192, 57, 43, @bgopacity);
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.button {
	border: 1px solid black;
	border-radius: 6px;
	font-weight: bold;
	padding: 0px 10px;
	margin: 5px;
	text-align: center;
	
	.button-blue {
		border-color: blue;
		background-color: blue;
		color: white;
	}
	
	.button-green {
		border-color: green;
		background-color: green;
		color: white;
	}
	
	.button-red {
		border-color: maroon;
		background-color: maroon;
		color: white;
	}
}

.prompt {
	z-index: @prompt-z-index;
	position: absolute;
	left: 50%;
	margin-left: -@appwidth/2;
	width: @appwidth - 2*@prompt-padding-left - 2*@prompt-border;
	background-color: @prompt-bg-color;
	border: @prompt-border solid @prompt-border-color;
	border-radius: @prompt-border-radius;
	padding: @prompt-padding-top @prompt-padding-left;
	display: none;
}

#prompt-cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: @prompt-z-index - 1;
	background-color: @coverbg;
}

.donation-prompt {
	.share-buttons {
		text-align: center;
		input.button {
			display: inline-block;
		}
	}
}

.app-welcome-prompt { 
	.get-started label, .get-started input {
		display: inline-block;
	}
}

#poweredBy {
	text-align: right;

	a {
		border-radius: 10px;
		color: white;
		display: inline-block;
		font-size: 10px;
		margin: 2px;
		padding: 2px 6px;
		text-align: right;
		text-decoration: none;
		background-color: #333333;
	}
}

// CSS Spinner from: http://tobiasahlin.com/spinkit/
.spinner {
  margin: @spin-box-height/2 auto @spin-box-height/2-@spinner-height/2 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: @spinner-height;
  height: @spinner-height;
  background-color: @spinner-color;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}