@bgopacity: 1;
@coverbgopacity: 0.8;
@headerbgcolor: #074099;
@headerpadding: 10px;

@sourcesHeight: 30px;

@appwidth: 800px;

@prompt-z-index: 1000;
@prompt-border: 2px;
@prompt-border-color: gray;
@prompt-bg-color: white;

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/* BG Image Source: http://cdn.morguefile.com/imageData/public/files/e/Eamir/04/h/1459985227toasf.jpg */
	background: url('/img/bg.jpg') fixed;
	background-size: cover;
}

#application {
	width: @appwidth;
	margin: 0 auto;
}

#header {
	color: white;
	background-color: @headerbgcolor;
	border-radius: 5px;
	padding: 1px @headerpadding 0 @headerpadding;
}

input#isbn {
	width: 774px;
	font-size: 24px;
	padding: 10px;
	border: 3px solid @headerbgcolor;
	border-radius: 5px;
	margin: 0 -@headerpadding;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a {
	color: #00B7FF;
}

.clear {
	clear: both;
}

.addedIsbn {
	border: 0px solid #074099;
	border-radius: 10px;
	/*background: #074099;*/
	clear: both;
	padding: 0px;
	margin: 10px 0px;
	position: relative;
	overflow: hidden;
}

.addedIsbn img {
	width: 100px;
	float: left;
	opacity: 0;
	padding: 0px 10px 0px 0px;
}

.addedIsbn span {
	display: block;
	padding: 5px;
}

.addedIsbn.searching {
	text-align: center;
	vertical-align: middle;
	min-height: 60px;
	background-image: url('/img/loading.gif');
	background-position: 50% 50%;
	background-repeat: none;
	background-size: 60px 60px;
}

.addedIsbn .sources {
	position: absolute;
	bottom: 5px;
	left: 110px;
	height: @sourcesHeight;
}

.addedIsbn .srcclear {
	height: @sourcesHeight;
}

.addedIsbn .sources .source {
	display: inline-block;
}

.addedIsbn .sources .source.goodreads {
	background: url('/img/goodreads_logo.png') no-repeat;
	background-size: cover;
	width: 106.5px;
	height: @sourcesHeight;
	border-radius: 10px;
	opacity: 0.5;
}

.addedIsbn:nth-last-child(1n+0) {
	background-color: rgba(46, 204, 113, @bgopacity);
	border-color: rgba(46, 204, 113, @bgopacity);
}

.addedIsbn:nth-last-child(2n+0) {
	background-color: rgba(52, 152, 219, @bgopacity);
	border-color: rgba(52, 152, 219, @bgopacity);
}

.addedIsbn:nth-last-child(3n+0) {
	background-color: rgba(155, 89, 182, @bgopacity);
	border-color: rgba(155, 89, 182, @bgopacity);
}

.addedIsbn:nth-last-child(4n+0) {
	background-color: rgba(243, 156, 18, @bgopacity);
	border-color: rgba(243, 156, 18, @bgopacity);
}

.addedIsbn:nth-last-child(5n+0) {
	background-color: rgba(192, 57, 43, @bgopacity);
	border-color: rgba(192, 57, 43, @bgopacity);
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.button {
	border: 1px solid black;
	border-radius: 6px;
	font-weight: bold;
	padding: 0px 10px;
	margin: 5px;
	text-align: center;
	
	.button-blue {
		border-color: blue;
		background-color: blue;
		color: white;
	}
	
	.button-green {
		border-color: green;
		background-color: green;
		color: white;
	}
	
	.button-red {
		border-color: maroon;
		background-color: maroon;
		color: white;
	}
}

.prompt {
	z-index: @prompt-z-index;
	position: absolute;
	left: 50%;
	margin-left: -@appwidth/2 - 2*@prompt-border;
	width: @appwidth;
	background-color: @prompt-bg-color;
	border: @prompt-border solid @prompt-border-color;
	display: none;
}

#prompt-cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: @prompt-z-index - 1;
	background-color: rgba(155, 89, 182, @coverbgopacity);
}

.donation-prompt {
	.share-buttons {
		text-align: center;
		input.button {
			display: inline-block;
		}
	}
}

.app-welcome-prompt { 
	.get-started label, .get-started input {
		display: inline-block;
	}
}
