	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/libbie.js"></script>

	<div id="header">
		<h1>{{title }}</h1>
		<p>Welcome {{userName }}</p>

		<input type="text" id="isbn" name="isbn" placeholder="ISBN #" />
	</div>

	<div id="searchList">

	</div>