	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/libbie.js"></script>

	<h1>{{title }}</h1>
	<p>Welcome {{userName }}</p>

	<p>
		<input type="text" id="isbn" name="isbn" placeholder="isbn" />
	</p>

	<div id="searchList">

	</div>