<div id="header" visibility="hidden" class="introheader">
  <h1>{{title }}</h1>
  <p>Libbie makes logging your library of books in Goodreads faster and easier. Simply sign in with Goodreads and get started. There's no registration, fees, and Libbie will never send you emails.</p>
  <p class="introbutton"><a href="/auth/goodreads">Click here to sign in with Goodreads</a></p>
  <p>
    <h2>How it works</h2>
    It's simple: enter in the ISBN number for your book and hit enter. Boom! It's added to Goodreads.
  </p>
  </p>But wait! There's more. Consider getting a cheap barcode scanner, which makes the process as easy as plugging in the scanner and scanning the barcode on the back of each of your books. You can log your whole library in minutes like this. Want more info? The intro video below will tell you all about it.
    <h2>2 Minute Introduction Video</h2>
    <strong>Video Here</strong>
  </p>
</div>

<div id="poweredBy">
    <a href="https://michaelblouin.ca" target="_blank" title="Powered by MichaelBlouin.ca">Powered by MichaelBlouin.ca</a>
</div>